#!/bin/bash
# environment variables for authorize-net-dpm

# heroku app url
export APP=https://{yourname}.localtunnel.me

# Authorize.Net credentials
export ANK={transaction-key}
export ANID={login}
export ANM={MD5-hash string}
